@{
    var version = System.Reflection.Assembly.GetEntryAssembly().GetName().Version;
}

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Powered By <a href="https://report.place"><img class="logo" src="~/images/querytree.png"/> Report Place v<span>@Html.Raw(version)</span></a></p>
                <p>&copy; <script>document.write(new Date().getFullYear())</script> <a href="https://dakicksoft.com">Dakicksoft</a></p>
            </div>
        </div>
    </div>
</footer>
